---
---

@import "variables";

.community {
  margin-bottom: 10rem;
    .community-section {
      margin-bottom: 6rem;

      img {
        width: 100%;
        box-shadow: 0.4rem 0.4rem 0.5em #F2F2F2;
      }
    }
}